<h1 class="banner">Flexbox</h1>
<h1>Welcome to Flexbox</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint accusantium aut asperiores dolore quod veritatis maiores blanditiis maxime nihil sit quas, nisi saepe, odio architecto deleniti illo autem, numquam tenetur!</p>


